.row-block{
	padding-top: 40px;
	padding-bottom: 40px;
}

.with-bottom-border{
	border-bottom: 1px solid #e5e5e5;
}

.title-bg{
	background: url(../img/title-bg.jpg) no-repeat center top;
	height: 450px;
}

.footer-bg{
	background:#EEEEEE;
}

.fullscreen-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/title-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -10;
}
.fullscreen-bg:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}